.to-dos {
  background-color: rgb(215, 219, 217);
  width: 350px;
  padding: 10px;
  border-radius: 5px;
  margin: 20px;
}
.input-text {
  padding: 7px;
  width: 80%;
}
.add-btn {
  padding: 7px;
  width: 13%;
  color: white;
  background-color: green;
}
